<div class="tab">
  <mat-tab-group color="warn" (selectedTabChange)="onFilter($event)">
    <mat-tab label="Task Open">
      <app-todo-list
        [todoList]="getTitle()"
        (onChangeType)="onChangeTypeMain1($event)"
        (onDeleteTodo1)="onDeleteTodo($event)"
        (EditTodo)="onEditTodo($event)"
      >
      </app-todo-list>
      <mat-card>
        <mat-card-content>Task today: {{ currentDate }}</mat-card-content>
      </mat-card>
    </mat-tab>
    <mat-tab label="Task Done">
      <app-todo-list [todoList]="getTitle()"> </app-todo-list>
      <mat-card>
        <mat-card-content>{{
          "Done Task: " +
            totalDoneTask +
            " - Total Deviation: " +
            "Day: " +
            totalDeviation.day +
            " Hour: " +
            totalDeviation.hour +
            " Minute: " +
            totalDeviation.minute +
            " Second: " +
            totalDeviation.second
        }}</mat-card-content>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>
